body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
#cronometro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}
#botoes button {
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  min-width: 160px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;

}
#botoes button:hover{
    opacity: 0.9;
}
#tempo {
    font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#botaoI{
    background-color: red;
}
#botaoP{
    background-color: green;
}
#botaoR{
    background-color: blue;
}